*{
	margin: 0;
	padding: 0;
}

.fondo{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
}

.fondo>img{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	filter: blur(3px);
}

.contenido{
	float: left;
	position: fixed;
	width: 100%;
	height: 100%;
}

.header{
	float: left;
	position: relative;
	width: 100%;
	height: 15%;
}

.header>img{
	float: left;
	position: relative;
	width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
}
.content{
	float: left;
	position: relative;
	width: 90%;
	height: 80%;
	margin-top: 20%;
	margin-left: 5%;
	margin-right: 5%;
}

.seccion{
	float: left;
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	width: 90%;
	height: 20%;
}

.seccion>button{
	float: left;
	width: 60%;
	height: 76%;
	border-radius: 30px;
	border:none;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 25px;
	color: #E6F0F6;
	background: #187DC2;
}


