*{
	margin: 0;
	padding: 0;
}


.fondo{
	float: left;
	position: fixed;
	width: 100%;
	height: 150%;
	background: #E1E1E1;
}

.fondo>img{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	filter: blur(3px);
}


.content{
	float: left;
	position: absolute;
	width: 100%;
	height: 150%;

}

.header{
	float: left;
	position: absolute;
	width: 100%;
	height: 8%;
}

.header>img{
	float: left;
	position: relative;
	width: 80%;
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
}

.formulario{
	float: left;
	position: relative;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	height: 100%;
	margin-top: 20%;
	text-align: center;
}

.inputClass{
	float: left;
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 18%;
	margin-top: 3%;
	background: #187DC2;
	border-radius: 25px;
}

.inputClass>h4{
	float: left;
	position: relative;
	width: 100%;
	height: 30%;
	font-size: 20px;
	color: #CDCDCD;
	margin-top: 3%;
	
}

.inputClass>input[type="text"]{
	float: left;
	position: relative;
	width: 80%;
	height: 15%;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 10px;
	font-size: 15px;
	margin-top: 3%;
}


.option{
	float: left;
	position: relative;
	width: 33.3333%;
	height: 50%;
}



.option>p{
	float: left;
	position: relative;
	font-size: 15px;
	color: #1E8FAF;
	width: 100%;
	height: 50%;
	color: #CDCDCD;
}


.option>input[type="radio"]{
	float: left;
	position: relative;
	width: 100%;
	height:25%; 
	margin-top: 3%;
}


.inputClass>button{
	float: left;
	position: relative;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10%;
	height: 35%;
	border-radius: 15px;
	font-size: 20px;
	border: none;
	color: white;
	background: #E88B0C;
	
}


