*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


.fondo{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
}


.content{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
}


.header{
	float: left;
	position: relative;
	width: 100%;
	height: 10%;
}

.header>img{
	float: left;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 80%;

}

.header>h4{
	float: left;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 20%;
	text-align: center;
	font-size: 30px;
	color: #F5930E;
}



.contenido{
	float: left;
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

.equipo{
	float: left;
	position: relative;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	height: 40%;
	background: #187DC2;
	margin-top: 3%;
	border-radius: 20px;
}

.imagen{
	float: left;
	position: relative;
	width: 100%;
	height: 10%;
	margin-top: 3%;

}

.imagen>img{
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	max-height: 300px;
	border-radius: 10px;
}

.infoEquipo{
	float: left;
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 60%;
}

.pEstatico{
	float: left;
	position: relative;
	width: 50%;
	height: 9%;
	font-size: 12px;
	color: #D4D4D4;
}

.pDinamico{
	float: left;
	position: relative;
	width: 50%;
	height: 9%;
	font-size: 12px;
	color: #D4D4D4;

}


.contenido>h2{
	float: left;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	margin-top: 10%;
}

.contenido>button{
	float: left;
	width: 40%;
	height: 70%;
	border-radius: 30px;
	border:none;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
	font-size: 25px;
	color: #E6F0F6;
	background: #187DC2;
}