*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}


.fondo{
	float: left;
	position: fixed;
	width: 100%;
	height: 100%;
}

.fondo>img{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	filter: blur(3px);
}



.content{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
}

.header{
	float: left;
	position: relative;
	width: 100%;
	height: 10%;
}

.header>img{
	float: left;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 80%;

}

.header>h4{
	float: left;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 20%;
	text-align: center;
	font-size: 30px;
	color: #ADADAD;
}

.contenido{
	float: left;
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
}

.equipo{
	float: left;
	position: relative;
	width: 100%;
	height: 50%;
	background: #187DC2;
	margin-top: 3%;
	border-radius: 20px;
}

.imagen{
	float: left;
	position: relative;
	width: 100%;
	height: 10%;
	margin-top: 3%;

}

.imagen>img{
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	max-height: 300px;
}

.infoEquipo{
	float: left;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 60%;
}

.pEstatico{
	float: left;
	position: relative;
	width: 50%;
	height: 9%;
	font-size: 12px;
	color: #D4D4D4;
}

.pDinamico{
	float: left;
	position: relative;
	width: 50%;
	height: 9%;
	font-size: 12px;
	color: #D4D4D4;

}